
*{
    scroll-behavior: smooth;
 /*  Index CSS code  */
}
body {
    margin: 0;
    background: rgb(33,150,243);
    background: radial-gradient(circle, rgba(33,150,243,1) 0%, rgb(9, 11, 140) 100%);
}
#main_wrapper {
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 90% 10% 90% 90% 10%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    'hd hd nv'
    'main main main'
    'void void void'
    'sc1 sc1 sc1'
    'sc2 sc2 sc2'
    'ft ft ft'
    ;
}
header {
    display: flex;
    position: fixed;
    background-color: white;
    width: 100vw;
    height: 10%;
    top: 0;
    align-items: center;
    padding-left: 10px;
    box-shadow: 0px 10px 20px;
    z-index: 1000;
    color: #2196F3;

}
header a {
    color: #2196F3;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav {
    height: 10%;
    display: flex;
    position: fixed;
    right: 0px;
    align-items:flex-end;
    justify-content: flex-end;
    z-index: 1000;
}
nav a{
    height: 100%;
}
.nav_pics {
    height: 100%;
}
#button {
    display: flex;
    justify-content: center; 
    align-items: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
}
#void {
    grid-area: void;
}
#landing {
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(../img/Background_Wunderlust.png);
    background-repeat: no-repeat;
    background-size: 100vw  100vh;
    grid-area: main;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    color: white;
}
#landing p {
    width: 50%;
}
#landing h2 {
    top: 0;
    margin-top: 180px;
    font-size: 50px;
}

/* PROFILE SECTION 1 */
#profile_1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    grid-area: sc1;
    justify-content: flex-start;
    flex-wrap:wrap;
    margin: 20px;
    border-radius: 20px;
    padding: 1.5%;
    background-color:white;
}
#PFP{
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    align-items: center;
    width: 33.33%;
    height: 50%;
}
#PFP img{
    width: 100px;
    height: 100px;
}
#img1_P1 {
    width: 33.33%;
    height: 50%;
}
#img1_P1 img {
    width: 100%;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
}
#img2_P1{
    width: 33.33%;
    height: 50%;
}
#img2_P1 img {
    width: 100%;
    height: 100%;
    border-radius: 0px 20px 20px 0px;
}
#Para_P1 {
    width: 50%;
    height: 50%;
    border-style: solid;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    border-color: rgb(33,150,243);
}
#img3_P1 {
    width: 45%;
    height: 50%;
}
#img3_P1 img{
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 20px 20px;
}
#profile_1 h2{
    text-decoration: underline;
    font-size: 25px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 5px;
}
/* PROFILE SECTION 1 */

/* PROFILE SECTION 2 */
#profile_2 {
    display: flex;
    grid-area: sc2;
    justify-content: flex-start;
    flex-wrap:wrap;
    flex-direction: column;
    margin: 20px;
    border-radius: 20px;
    padding: 1.5%;
    background-color:white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#PFP2{
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    align-items: center;
    width: 33.33%;
    height: 50%;
}
#PFP2 img{
    width: 100px;
    height: 100px;
}
#img1_P2 {
    width: 33.33%;
    height: 50%;
}
#img1_P2 img {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 00px 0px;
}
#img2_P2{
    width: 34%;
    height: 50%;
}
#img2_P2 img {
    width: 100%;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
}
#Para_P2 {
    width: 30%;
    height: 100%;
    border-style: solid;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    border-color: rgb(33,150,243);
}
#img3_P2 {
    width: 33.33%;
    height: 50%;
}
#img3_P2 img{
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 20px 0px;
}
#profile_2 h2{
    text-decoration: underline;
    font-size: 25px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 5px;
}
/* PROFILE SECTION 2 */
footer {
    grid-area: ft;
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 0px -10px 20px  #2196F3;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    position: relative;
}
footer p {
margin: 0;
padding-bottom: 4px;
}
#arrow_left {
    height: 100%;
    display: flex;
    align-items: center;
}
#arrow_left img {
    height: 20%;
}
#arrow_right {
    height: 100%;
    display: flex;
    align-items: center;
}
#arrow_right img {
    height: 20%;
    transform: rotate(180deg);
}
#trademark_p {
    right: 20px;
    position: absolute;
    font-size: 15px;
    margin-right: 5px;
}
#trademark {
    position: absolute;
    right: 0;
    height: 25%;
    margin-right: 5px;
}

/*  Index CSS code */ 


/* Profile CSS code */
#profile_wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 20% 10% 240% 7.5% 10%;
    grid-template-areas: 
    'hd nv'
    'pf pf'
    'bt bt'
    'sc sc'
    '. .'
    'ft ft'
    ;
}
#pfp_pro{
    grid-area: pf;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#pfp_pro_div {
    position: relative;
    z-index: 100;
}
#Kiko_IMG{
    height: 100%;
    border-radius: 100px;
    border-color: white;
    border-style: solid;
    position: absolute;
    right: 70%;
}
#edit_IMG {
    height: 30px;
    position: absolute;
    top: 38%;
    right: 5%;
}
#edit_IMG_Gray {
    height: 30px;
    position: absolute;
    top: 38%;
    right: 5%;
}
#edit_IMG:hover {
    display: none;
}
#pfp_pro h2{
    font-size: 35px;
    text-decoration: underline;
    background-color: white;
    padding: 10px;
    padding-right: 50px;
    border-radius: 10px;
    margin-left: 50px;
}
#buttons_pro {
    grid-area: bt;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#buttons_pro h3:hover {
    scale: 103%;
}
#buttons_pro h3{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
#sections_pro{
    grid-area: sc;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#sections_pro section{
    background-color: white;
    height: 23%;
    width: 47%;
    margin: 0.5%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 1%;
}
#sections_pro section img {
    height: 50%;
    width: 50%;
}
#sections_pro section p{
    height: 50%;
    width: 50%;
    margin: 0;
}
#sections_pro section:hover{
    scale:101%;
}
/* profile CSS code */

/* settings CSS code */

#settings_wrapper {
    background-color: white;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 5% 70% 5% 10%;
    grid-template-areas: 
    'hd nv'
    '. .'
    'sc1 sc2'
    '. .'
    'ft ft'
    ;
}
#settings_left {
    grid-area: sc1;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#settings_left div {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.left_div p{
    width: 100%;
}
.left_div img {
    position: absolute;
    right: 20px;
    height: 14%;
}
.left_div img:active {
    display: none;
}

#settings_right {
    grid-area: sc2;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#settings_right div {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.right_div p{
    width: 100%;
}
.right_div img {
    height: 14%;
    position: absolute;
    right: 20px;
}
.right_div img:active {
    display: none;
}